<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>RSVP</title>

<link rel="stylesheet" href="/css/rsvp.css" />
<% if (typeof customStyles !== 'undefined') { %>
  <link rel="stylesheet" href="/css/<%= customStyles %>.css" />
<% } %>

<script src="/js/main.js" defer></script>

<style>
  body {
    font-family: 'Prompt', sans-serif;
  }

  h1, h2, h3, nav, .navbar, .bubble-button {
    font-family: 'Lucidity Condensed', sans-serif;
  }
</style>