<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500&display=swap" rel="stylesheet">
    <%- include('partials/header_about', { customStyles: 'about' }) %>
    <link rel="stylesheet" href="/styles/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <button class="hamburger" aria-label="Toggle navigation">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <ul class="navbar-menu">
            <li><a href="/" class="bubble-button">Home</a></li>
            <li><a href="/about" class="bubble-button">About Us</a></li>
            <li><a href="/details" class="bubble-button">Details</a></li>
            <li><a href="/rsvp" class="bubble-button">RSVP</a></li>
        </ul>
    </nav>
    <section class="about">
        <div class="container">
            <h2>About Us</h2>
            <img src="/images/photo1.jpg" alt="Ashley and Carl" class="about-photo" />
            <p>
                Like all great love stories, Ashley and Carl met in college. Their story began in the summer of 2018 at the University of Illinois,  where they were campus tour guides and Ashley was Carl’s boss . . .
            </p>
            <p>
                After weekly hangouts at their favorite campus bar and many campus admissions events, Ashley and Carl began dating in the beginning of 2020. Since then, they’ve tackled the COVID-19 lockdown, long-distance dating during graduate school, and moving across the country together. 
            </p>
            <p>
                They now live in Atlanta, Georgia, with their three food-named pets—Bao Bun and Dumpling the cats and Noodle the dog. 
            </p>
            <p>
                When people ask what’s new and what’s next, they have no answer. They just take life one step at a time, knowing they have each other.
            </p>
            <p>
                We can’t wait to have all our friends and family together for this special day on October 11, 2025!
            </p>
        </div>
    </section>

    <footer>
        <%- include('partials/footer'); %>
    </footer>

</body>
</html>