<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500&display=swap" rel="stylesheet"> -->
    <%- include('partials/header_details', { customStyles: 'details' }) %>
    <link rel="stylesheet" href="/styles/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <button class="hamburger" aria-label="Toggle navigation">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <ul class="navbar-menu">
            <li><a href="/" class="bubble-button">Home</a></li>
            <li><a href="/about" class="bubble-button">About Us</a></li>
            <li><a href="/details" class="bubble-button">Details</a></li>
            <li><a href="/things-to-do" class="bubble-button">Things to Do</a></li>
            <li><a href="/faq" class="bubble-button">FAQs</a></li>
            <li><a href="/registry" class="bubble-button">Registry</a></li>
            <li><a href="/rsvp" class="bubble-button">RSVP</a></li>
        </ul>
    </nav>
    <section class="details">
        <div class="container">
            <h2>Event Details</h2>
            <p>Location: Trolley Barn, Atlanta</p>
            <p>Time: 5:00 PM</p>
            <p>963 Edgewood Ave NE, Atlanta, GA 30307</p>
            <!-- Embedded Google Map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2789.3990504754756!2d-84.35800478582584!3d33.756190006427836!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f503ff905e1bed%3A0xc1626dc0cd684569!2sTrolley%20Barn!5e0!3m2!1sen!2sus!4v1733498102539!5m2!1sen!2sus" 
                width="600" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <p> 
                We will be holding our wedding reception at the Trolley Barn in Atlanta, Georgia, in the historical Inman Park neighborhood. The building dates back to the late 1800s, when it housed offices and maintenance for the United States’ first electric streetcar system. Since then, the building has exchanged hands, and now the Inman Park Historical Association owns and maintains it as a crucial landmark in our neighborhood. Learn more <a href="https://thetrolleybarn.com/about/" target="_blank">here</a>.
            </p>
            <p>
                Below, we’ve curated a list of nearby hotels where you can stay during the wedding weekend! Feel free to explore outside of these options for what works within your budget. We recommend staying within 10 miles of the venue—the further out you go, the more unpredictable traffic can be. 
            </p>
            <p>
                Many more details to follow!
            </p>
            <div class="hotel-grid">
                <div class="hotel-item">
                    <img src="/images/clermont.jpg" alt="Clermont" class="hotel-image">
                    <h3>Clermont Hotel</h3>
                    <p>Located 2.2 miles from the venue</p>
                    <a href="https://www.hotelclermont.com/" target="_blank" class="book-button">Book Now</a>
                </div>
    
                <div class="hotel-item">
                    <img src="/images/magnolia.jpg" alt="Magnolia" class="hotel-image">
                    <h3>Sugar Magnolia Bed and Breakfast</h3>
                    <p>Located 0.3 miles from the venue</p>
                    <a href="https://sugarmagnoliabb.com/" target="_blank" class="book-button">Book Now</a>
                </div>
    
                <div class="hotel-item">
                    <img src="/images/wylie.png" alt="Wylie" class="hotel-image">
                    <h3>Wylie Hotel</h3>
                    <p>Located 2 miles from the venue</p>
                    <a href="https://www.wyliehotel.com/" target="_blank" class="book-button">Book Now</a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <%- include('partials/footer'); %>
    </footer>

</body>
</html>
