<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500&display=swap" rel="stylesheet"> -->
    <%- include('partials/header_eventdetails', { customStyles: 'about' }) %>
    <link rel="stylesheet" href="/styles/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <button class="hamburger" aria-label="Toggle navigation">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <ul class="navbar-menu">
            <li><a href="/" class="bubble-button">Home</a></li>
            <li><a href="/about" class="bubble-button">About Us</a></li>
            <li><a href="/eventdetails" class="bubble-button">Event Details</a></li>
            <li><a href="/travel" class="bubble-button">Travel</a></li>
            <li><a href="/things-to-do" class="bubble-button">Things to Do</a></li>
            <li><a href="/faq" class="bubble-button">FAQs</a></li>
            <li><a href="/registry" class="bubble-button">Registry</a></li>
            <li><a href="/rsvp" class="bubble-button">RSVP</a></li>
        </ul>
    </nav>
    <section class="about">
        <div class="container">
            <h2>Welcome Party</h2>
            <p>Where: Manuel’s Tavern </p>
            <p>602 North Highland Ave, Atlanta, GA 30307</p>
            <p>When: Friday, October 10th, 2025 - 7:00pm</p>
            <h2>Cocktail Hour & Reception</h2>
            <p>Where: Trolley Barn</p>
            <p>963 Edgewood Ave NE, Atlanta, GA 30307</p>
            <p>When: 5:00 PM</p>
            <!-- Embedded Google Map -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2789.3990504754756!2d-84.35800478582584!3d33.756190006427836!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f503ff905e1bed%3A0xc1626dc0cd684569!2sTrolley%20Barn!5e0!3m2!1sen!2sus!4v1733498102539!5m2!1sen!2sus" 
                width="600" 
                height="450" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
            <p> 
                We will be holding our wedding reception at the Trolley Barn in Atlanta, Georgia, in the historical Inman Park neighborhood. 
                Please feel free to read about its history <a href="https://thetrolleybarn.com/about/" target="_blank">here</a>.
            </p>
            <p>
                Atlanta is not known for its exceptional public transportation, but if you’re savvy, feel free to use Marta to get around. 
                Otherwise, if you stay in the nearby neighborhoods (Midtown, Virginia Highlands, Little 5 Points, Old 4th Ward, etc.), 
                there are walkable restaurants, shops, and more. 
                Other forms of transportation to use around the city include Uber/Lyft car services and Lime scooters & bikes. 
                Let us know if you have any questions on getting around the city!
            </p>
        </div>
    </section>

    <footer>
        <%- include('partials/footer'); %>
    </footer>

</body>
</html>