<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500&display=swap" rel="stylesheet"> -->
    <%- include('partials/header'); %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <button class="hamburger" aria-label="Toggle navigation">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <ul class="navbar-menu">
            <li><a href="/" class="bubble-button">Home</a></li>
            <li><a href="/about" class="bubble-button">About Us</a></li>
            <li><a href="/details" class="bubble-button">Details</a></li>
            <li><a href="/things-to-do" class="bubble-button">Things to Do</a></li>
            <li><a href="/faq" class="bubble-button">FAQs</a></li>
            <li><a href="/registry" class="bubble-button">Registry</a></li>
            <li><a href="/rsvp" class="bubble-button">RSVP</a></li>
        </ul>
    </nav>
    <!-- Section 1: Hero -->
    <header id="header" class="hero">
        <div class="overlay"></div>
        <div class="hero-content">
            <h1>Swingers Only!</h1>
            <!-- <p>We’re Getting Married!</p> -->
            <p class="date">October 11, 2025</p>
            <a href="#details" class="cta-button">View Details</a>
            <!-- <button class="details-button"> -->
                <!-- <a href="#details">Details</a> -->
            </button>

        </div>
    </header>
    
    <!-- 1st Parallax Image Section -->
    <section class="parallax" style="background-image: url('/images/photo1.jpg');">
    </section>

    <!-- 2nd Parallax Image Section -->
    <section class="parallax" style="background-image: url('/images/photo3.jpg');">
    </section>

    <!-- 3nd Parallax Image Section -->
    <section class="parallax" style="background-image: url('/images/photo4.JPG');">
    </section>
    
    <footer>
        <%- include('partials/footer'); %>
    </footer>
</body>
</html>


