<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500&display=swap" rel="stylesheet"> -->
    <%- include('partials/header_rsvp', { customStyles: 'rsvp' }) %>
    <link rel="stylesheet" href="/styles/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar">
        <button class="hamburger" aria-label="Toggle navigation">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <ul class="navbar-menu">
            <li><a href="/" class="bubble-button">Home</a></li>
            <li><a href="/about" class="bubble-button">About Us</a></li>
            <li><a href="/eventdetails" class="bubble-button">Event Details</a></li>
            <li><a href="/travel" class="bubble-button">Travel</a></li>
            <li><a href="/things-to-do" class="bubble-button">Things to Do</a></li>
            <li><a href="/faq" class="bubble-button">FAQs</a></li>
            <li><a href="/registry" class="bubble-button">Registry</a></li>
            <li><a href="/rsvp" class="bubble-button">RSVP</a></li>
        </ul>
    </nav> 

    <!-- RSVP Form Section -->
    <section class="jotform-wrapper">
        <iframe
          id="JotFormIFrame-251123987550156"
          title="Wedding Reception Invitation Form"
          onload="window.parent.scrollTo(0,0)"
          allowtransparency="true"
          allow="geolocation; microphone; camera; fullscreen"
          src="https://form.jotform.com/251123987550156"
          frameborder="0"
          scrolling="no"
        ></iframe>
      </section>
      
      <script src='https://cdn.jotfor.ms/s/umd/latest/for-form-embed-handler.js'></script>
      <script>
        window.jotformEmbedHandler("iframe[id='JotFormIFrame-251123987550156']", "https://form.jotform.com/");
      </script>

    <footer>
        <%- include('partials/footer'); %>
    </footer>
</body>

</html>
